#root {
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: inherit;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-header{
  position: fixed;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  gap: 5px;
  z-index: 10;
  box-shadow: 0 1px 5px 1px rgb(183, 183, 183);
}

.nav-header::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.nav-header::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.1);
  border-radius: 3px;
}

.nav-item{
  padding: 10px 0;
}

.content-container{
  margin-top: 25px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.content-404{
  text-align: center;
  margin: 20% 0; 
}

#run-emulator, #stop-emulator{
  margin: 10px;
}

.home-logo-outer{
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 20px;
}

.home-logo{
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: 0;
}

.home{
  line-height: 0;
}

.link-item{
  font-size: 16px;
  width: fit-content;
  padding: 5px 7.5px;
  transition-duration: 0.5s;
}

.link-item:hover{
  border-radius: 5px;
  background-color: #ebebeb;
}

.redirect-button{
  align-self: center;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.redirect-button:hover {
  border-color: #646cff;
}

.redirect-button:focus,
.redirect-button:focus-visible {
  outline: -webkit-focus-ring-color solid 4px;
}

@media (prefers-color-scheme: light) {
  .redirect-button{
    background-color: #e7e7e7;
  }
}

.tips-area{
  margin: 8px 0;
  padding: 10px;
  /* width: 700px; */
  text-align: left;
}

.control-panel{
  width: fit-content;
  margin: 5px 0;
}

.demo-box{  
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  box-shadow: 4px 4px 10px 2px rgb(120, 120, 120);
  background-color: #fdfdfd;
}

.page-title{
  margin: 5px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-cards{
  display: grid;
  grid-template: auto / repeat(2, 1fr); 
}

@media (prefers-color-scheme: dark) {
  .nav-header{
    background-color: #1a1a1a;
    box-shadow: 0 0 5px 1px white;
  }
  .link-item{
    color: rgba(255, 255, 255, 0.87);  
  }
  .demo-box{
    background: inherit;
    box-shadow: 0 0 10px 2px rgb(212, 212, 212);
  }
  .redirect-button{
    box-shadow: 0 0 10px 2px rgb(212, 212, 212);
  }
  .redirect-button > a {
    color: rgba(255, 255, 255, 0.87);
  }
  .link-item:hover{
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 0 10px 2px rgb(212, 212, 212);
  }
}

.emulator_text > div{
  max-width: 100px;
}